Package: com.551.culpritnotify
Name: CulpritNotify
Version: 1.0.3
Architecture: iphoneos-arm64
Description: Native crash notifications for Culprit.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, jp.dcsyhi.culprit
