Package: com.551.culpritnotify
Name: CulpritNotify
Version: 1.0.2
Architecture: iphoneos-arm64
Description: Instant crash banners and notifications for Culprit.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, jp.dcsyhi.culprit
